<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-info justify-content-between">
    <div class="logo" id="logo-div">
      <a href="/" id="logo"><img src="/images/logo.png" alt="logo" ></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="search">
        <% if (user) { %>
          <div class="name-show">
            <form method="POST" action="/logout" class="name-show">
            <a id="name" class=“nav-item nav-link”>Hey, <%= user.name%>!</a>
            <button type="submit" id="logout" class="btn">Logout</button></form>
          </div>
          <% } %>

        <a class="btn" href="/tiles">My Tiles</a>
        <a class="btn" href="/create">Create a Tile</a>
      </div>
    </div>
    </div>
  </nav>
</header>
