<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Kermit - Login</title>


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>



  <body class='login-container'>
    <h1>Kermit</h1>
    <div class="login-logo" id="login-logo">
      <img src="/images/logo.png" alt="avatar" class='avatar'>
    </div>
    <main style="margin: 1em;">
        <div class="form-group mb-2">
          <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Enter Email">
            <input type="password" name="password" placeholder="Enter Password">
            <button type="submit" class="submit-btn"> Login </button>
          </form>
        </div>
        <div>
        <a href="/register">Don't have an account? Sign up here!</a>
        </div>
    </main>
  </body>
</html>
